<html data-ng-app="template_app">
<head>
<title>{% block the_title %}{% endblock %}</title>

{% include "global/includes.html" %}

<script src="/static/js/template_app/global/global_resources.js"></script>
<script src="/static/js/template_app/global/global_services.js"></script>
<script src="/static/js/template_app/global/global_controller.js"></script>
{% block extra_head %}{% endblock %}
</head>
<body>
 <div data-ng-controller="GlobalController">
 {% block content %}{% endblock %}
</div>
</body>
</html>