<html data-ng-app="template_app">
<head>
<title>{% block the_title %}{% endblock %}</title>
{% include "global/includes.html" %}
<script type="text/javascript">
angular.module('template_app', ['ngCookies']).config(function($interpolateProvider){
    $interpolateProvider.startSymbol('{[{').endSymbol('}]}');
}).config(['$httpProvider', '$cookiesProvider', function($httpProvider, $cookiesProvider){
    // django and angular both support csrf tokens. This tells
    // angular which cookie to add to what header.
    $httpProvider.defaults.xsrfCookieName = 'csrftoken';
    $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
    $httpProvider.defaults.headers.post['X-CSRFToken'] = $cookiesProvider.csrftoken;
    $httpProvider.defaults.headers.put['X-CSRFToken'] = $cookiesProvider.csrftoken;
    $httpProvider.defaults.headers.patch['X-CSRFToken'] = $cookiesProvider.csrftoken;
    $httpProvider.defaults.headers['delete'] = {'X-CSRFToken': $cookiesProvider.csrftoken};
    $httpProvider.defaults.headers.common['X-CSRFToken'] = $cookiesProvider.csrftoken;
}]);
</script>
<script src="/static/js/template_app/global/global_services.js"></script>
<script src="/static/js/template_app/global/global_controller.js"></script>
{% block extra_head %}{% endblock %}
</head>
<body>
 <div data-ng-controller="GlobalController">
     <div data-ng-hide="true">
         <div id="global_username">{{request.user.username}}</div>
         <div id="global_useremail">{{request.user.email}}</div>
     </div>
 {% block content %}{% endblock %}
</div>
</body>
</html>