{% extends "global/base.html" %}

{% block the_title %}Cigar Shops{% endblock %}

{% block extra_head %}
    <script src="/static/js/template_app/cigarshops/cigarshops.js"></script>
{% endblock %}

{% block content %}
    <div data-ng-controller="CigarshopsController">
        <div data-ng-if="the_user.username">
            <div>
                Wellcome
                <div data-ng-bind="the_user.username"></div>
                !
            </div>
        </div>
        <div data-ng-if="!the_user.username">
            <input data-ng-model="info_holder.username" type="text">
            <input data-ng-model="info_holder.password" type="password">
            <button data-ng-click="django_login()">login</button>
        </div>
    </div>
{% endblock %}