{% extends "global/base.html" %}

{% block the_title %}Cigar Shops{% endblock %}

{% block extra_head %}
    <script src="/static/js/template_app/cigarshops/cigarshops.js"></script>
    <script src="/static/js/template_app/cigarshops/directives.js"></script>
{% endblock %}

{% block content %}
    <div data-ng-controller="CigarshopsController">
        <dt-user-cp-header diruser="theUser"></dt-user-cp-header>
        <div>Cigarshops and lists of favourite cigarshops will go here</div>
    </div>
{% endblock %}